<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsw.management.admin.mapper.AnnouncementMapper">

    <resultMap id="BaseResultMap" type="com.lsw.management.admin.model.po.Announcement">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="isTop" column="is_top" jdbcType="TINYINT"/>
            <result property="accountId" column="account_id" jdbcType="INTEGER"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        is_top,account_id,deleted,
        create_time,update_time
    </sql>
    <select id="selecAnnouncementPage"
            resultType="com.lsw.management.admin.model.vo.announcement.AnnouncementVo">
        SELECT ${ew.sqlSelect} FROM announcement
                                        INNER JOIN user_account  ON user_account.id=announcement.account_id
            ${ew.customSqlSegment}
    </select>
</mapper>
